extends layout
block content
  section.tickets-list
    h2.visually-hidden Самые новые предложения
    .tickets-list__wrapper
      .tickets-list__header
        a.tickets-list__btn.btn.btn--big(href='#')
          span Новая публикация
      ul
        each dataOffer in dataOffers
          li.tickets-list__item.js-card
            .ticket-card(class=`ticket-card--color${dataOffer.classMod}`)
              .ticket-card__img
                img(
                  src=`/img/${dataOffer.picture}`,
                  srcset='/img/item06@2x.jpg 2x',
                  alt='Изображение товара'
                )
              .ticket-card__info
                span.ticket-card__label #{dataOffer.offerType}
                .ticket-card__categories
                  each category in dataOffer.categories
                    a(href='#') #{category}
                .ticket-card__header
                  h3.ticket-card__title
                    a(href='#') #{dataOffer.title}
                  p.ticket-card__price
                    span.js-sum #{dataOffer.sum}
                    |
                    | ₽
              button.ticket-card__del.js-delete(type='button') Удалить
